footer {
    margin-top: 100px;
    padding: 20px;
    background-color: #b9e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.logo_smile {
    width: 50px;
}